body {
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 480px;
    height: 48px;

    display: flex;
    justify-content: center;

    margin: 16px 0px;
    border-bottom: 2px solid black;
}

button {
    width: 128px;
    height: 48px;

    border: none;
    outline: none;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;

    background: green;
}

input {
    width: 272px;
    height: 48px;

    padding: 0px 16px;

    border: none;
    outline: none;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.favorite {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
}

ul {
    padding: 0px;
    margin: 16px 0px;
}

li {
    list-style-type: none;
    width: 480px;
    height: 128px;
    margin-bottom: 16px;

    border: 2px solid black;
}

div {
    float: left;
}

.img img {
    width: 128px;
    height: 128px;
}

.description {
    float: left;
    width: 304px;

    background: white;
}

p {
    margin: 8px 16px;
    padding: 0px;

    font-family: Roboto;
    font-size: 12px;
    color: black;
    line-height: 24px;
}

.add {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 48px;
    height: 128px;
}

.add img {
    width: 16px;
    height: 16px;
}

.pagination li {
    list-style-type: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: red;
}

.modal {
    display: flex; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 800; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalDiv {
    float: left;
    z-index: 900; /* Sit on top */
    width: 480px;
    height: 256px;
}

.imgModal {
    float: left;

    width: 128px;
    height: 128px;
}

.imgModal img {
    width: 128px;
    height: 128px;
}

.addModal {
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 128px;
    height: 128px;

    background: white;
}

.descriptionModal {
    width: 352px;
    height: 256px;

    background: white;
}

.paginationUl {
}

.paginationLi {
    display: inline-block;

    outline: 2px solid black;
    border: none;

    margin: 0px;
    padding: 0px;

    width: 48px;
    height: 48px;

    font-family: Roboto;
    font-size: 12px;
    color: black;
    line-height: 48px;

    text-align: center;
}